<div class="actio">
  <div class="container actio__container">
    <h2 class="attribute__title">Action
      <span class="attribute__help"><img src="../img/svg/help.svg" alt="help" class="attribute__help-img"></span>
    </h2>
    <form action="#" method="#" class="attribute__form">
      <input type="text" name="type" id="type" placeholder="Type here..." class="attribute__input" >
      <button type="submit" class="attribute__mic"><img src="../img/svg/mic.svg" alt="mic"></button>
    </form>
    <div class="attribute__blocks">
      <div class="block__negative blocks">
        <button class="block__item block__item-first">Negative</button>
        <div class="block__items">
          <button class="block__item">I do not</button>
          <button class="block__item">You do not</button>
          <button class="block__item">We do not</button>
          <button class="block__item">They do not</button>
          <button class="block__item">It does not</button>
          <button class="block__item">She does not</button>
          <button class="block__item">He does not</button>
        </div>
      </div>
      <div class="block__question blocks">
        <button class="block__item block__item-first">Question</button>
        <div class="block__items">
          <button class="block__item">Do I?</button>
          <button class="block__item">Do you?</button>
          <button class="block__item">Do we?</button>
          <button class="block__item">Do they?</button>
          <button class="block__item">Does it?</button>
          <button class="block__item">Does she?</button>
          <button class="block__item">Does he?</button>
        </div>

      </div>
      <div class="block__positive blocks">
        <button class="block__item block__item-first">Positive</button>
        <div class="block__items">
          <button class="block__item">I do</button>
          <button class="block__item">You do</button>
          <button class="block__item">We do</button>
          <button class="block__item">They do</button>
          <button class="block__item">It does</button>
          <button class="block__item">She does</button>
          <button class="block__item">He does</button>
        </div>
      </div>
    </div>
  </div>
</div>
