<div class="gramm verb">
  <div class="container verb__container">
    <img src="../img/gramm.jpg" alt="rules" class="gramm__img img__block">

    <div class="verb__content">
      <h2 class="title verb__title">
        Quickly construct a grammatically correct phrase expressing the idea you want to share
      </h2>
      <p class="subtitle verb__subtitle">
        If you entered the grammar rules of the phrase, the cell will open
      </p>

    </div>

    <a href="#" class="verb__btn btn__block">Get started</a>
  </div>
</div>
