<div class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__title">Understanding verb tenses</h1>
      <div class="hero__block">
        <p class="hero__subtitle">There are twelve verb tense forms in English. For English learners, knowing how to use English tenses can be quite a challenge. Never fear. Easyenglish verb tense tutorial will teach you to think like a native speaker. Let's get started!</p>
        <a href="../start.html" class="hero__btn btn__block">Get started</a>
      </div>
    </div>
  </div>
</div>
