<div class="learn">
  <div class="container">
    <h2 class="learn__title">
      Start learning English
    </h2>
  </div>
  <div class="sim">
    <div class="container sim__container">
      <h3 class="sim__title">Simulator</h3>
      <div class="sim__block">
        <select name="sim" id="sim" class="sim__select">
          <option value="PresentSimple">Present Simple</option>
          <option value="PastSimple">Past Simple</option>
          <option value="FutureSimple">Future Simple</option>
          <!-- <img src="../img/svg/arrowDown.svg" alt="arrow" class="sim__arrow"> -->
        </select>
        <div class="sim__buttons">
          <a href="../attr.html" class="sim__btn">Attribute</a>
          <a href="../action.html"  class="sim__btn">Action</a>
        </div>
      </div>
    </div>
  </div>
  <div class="theory">
    <div class="container theory__container">
      <h3 class="theory__title">Theory study</h3>
      <div class="theory__block">
        <ul class="theory__list">
          <li class="theory__item">Present</li>
          <li class="theory__item">Past</li>
          <li class="theory__item">Future</li>
        </ul>
      </div>
    </div>
  </div>
</div>
