<div class="rules verb">
  <div class="container verb__container">
    <img src="../img/rules.jpg" alt="rules" class="verb__img img__block">

    <div class="verb__content">
      <h2 class="title verb__title">
        The rules within each tense is restricted. For example, here is how it looks like for Active Voice in Present Simple.
      </h2>
      <p class="subtitle verb__subtitle">
        Choose one of two sections to practice the acquired knowledge
      </p>

      <a href="#" class="verb__btn btn__block">Get started</a>
    </div>

  </div>
</div>
