<div class="sign">
  <div class="container sign__container">
    <div class="sign__content">
      <h3 class="sign__title">easyEnglish</h3>
      <div class="sign__social">
        <button class="social__google social__item">Sign in with Google</button>
        <button class="social__facebook social__item">Continue with Facebook</button>
      </div>
      <p class="sign__or">or</p>
      <form action="#" class="sign__form">
        <p>
          <label for="name">login or e-mail</label>
          <input type="text" name="name" id="name" required placeholder="easyenglish@inbox.ru">
        </p>
        <p>
          <label for="password">Password</label>
          <input type="password" name="password" id="password" placeholder="**************" required>
          <a href="#" class="sign__remember">I do not remember the password</a>
        </p>
        <button type="submit" class="sign__submit">start</button>
      </form>
    </div>
  </div>
</div>
