<div class="verb">
  <div class="container verb__container">
    <img src="../img/verb.jpg" alt="verb" class="verb__img img__block">
    <div class="verb__content">
      <h2 class="title verb__title">
        There are three main verb tenses in English: present, past and future.
      </h2>
      <p class="subtitle verb__subtitle">
        Let's look at the different verb tenses in a bit more detail to enhance your English language skills Сhoose one of three times
      </p>


    </div>

    <a href="#" class="verb__btn btn__block">Get started</a>
  </div>

</div>
