// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/hero";
@import "./components/verb";
@import "./components/gramm";
@import "./components/strukture";
@import "./components/learn";
@import "./components/headerattr";
@import "./components/attribute";
@import "./components/actio";
@import "./components/sign";
@import "./components/footer";

// тестовые стили, удалите их
.page__body {
  display: flex;
    // align-items: center;
  justify-content: center;
  height: var(--vh);
}
